.form {
  width: 40%;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.formHeader {
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0 1rem 0;
  font-weight: 600;
}

.star {
  color: red;
  font-weight: 900;
}

.notePassword {
  color: black;
  font-size: 0.9rem;
  font-weight: 700;
  width: 80%;
  margin: auto;
  padding-top: 1.3rem;
  padding-left: 0.5rem;
}

.notePassword p {
  font-weight: 400;
  margin-top: 0.3rem;
}

.phoneCodeNation {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
}

.listContainer {
  background-color: white;
}

.listContainer li {
  list-style-type: none;
  display: flex;
  padding-top: 9px;
  color: black;
}

.listContainer li:hover {
  background-color: #fffadc;
  cursor: pointer;
}

.listContainer p {
  margin-left: 5px;
}

.listContainer img {
  margin-left: 10px;
}

.labelPasswordRow {
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.6);
  display: flex;
  margin: 0 0 6px 10px;
}

.plusSymbolPhoneNumb {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }
  .phoneCodeNation {
    width: 95%;
  }
}
