.footerDiv {
  background-color: #21130d;
  color: white;
  position: relative;
  padding: 5rem 0 7rem 0;
  margin-top: auto;
}
.info {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.iconsContainer {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.visa-letter {
  color: #21130d;
}
.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.logoImage {
  width: 450px;
  height: 150px;
}
.infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .info {
    margin-top: 0.3rem;
    font-size: 1rem;
  }
  .footerDiv {
    padding: 1rem 0 4rem 0;
  }
  .textContainer {
    height: 30%;
  }
  .logoImage {
    width: 150px;
    height: 50px;
  }
  .infoContainer {
    flex-direction: column;
  }
}
