.info {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.iconsContainer {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.visa-letter {
  color: #21130d;
}

@media (max-width: 600px) {
  .info {
    margin-top: 0.3rem;
    font-size: 1rem;
  }
}
