html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Important to remove extra space */
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Removes default arrows */
}

a {
  color: inherit;
  text-decoration: none;
}

.visa-letter {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  font-weight: 900;
}

.lienlucbaoFooter {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
@media (max-width: 600px) {
  .visa-letter {
    font-size: 2rem;
  }
  .lienlucbaoFooter {
    font-size: 2rem;
  }
}
