.backgroundImage {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  z-index: 1;
}

.backgroundBlur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* backdrop-filter: blur(2px); */
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
}

.backgroundTitle {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
  z-index: 1000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(57, 57, 57, 0.4);
  padding-top: 1rem;
  width: 40%;
  margin-bottom: 1rem;
}

.backgroundTitleBelow {
  margin-top: 1rem;
  background-color: rgba(57, 57, 57, 0.4);
  padding: 1.2rem;
  color: rgb(255, 255, 255);
}

.buttonHeader {
  font-weight: 900;
  font-size: 1.3rem;
}

.applySection {
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 60vh;
}

.circleStep {
  border: 3px solid white;
  width: 60px;
  height: 60px;
  background-color: #fcaf38;
  border-radius: 30px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineStep {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.contentStep {
  position: absolute;
  bottom: -100%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, 50%);
  text-align: center;
  vertical-align: text-top;
  height: 100%;
}

/* #21706b */
/*? #09feec */
/* #F7F8F3 */
/* ! red #F7444E  */
