.backgroundImage {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  z-index: 1;
}

.backgroundBlur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* backdrop-filter: blur(2px); */
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
}

.backgroundTitle {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
  z-index: 1000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(57, 57, 57, 0.4);
  padding-top: 1rem;
  width: 40%;
  margin-bottom: 1rem;
}

.backgroundTitleBelow {
  margin-top: 1rem;
  background-color: rgba(57, 57, 57, 0.4);
  padding: 1.2rem;
  color: rgb(255, 255, 255);
}

.buttonHeader {
  font-weight: 900;
  font-size: 1.3rem;
}

.applySection {
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 60vh;
}

.circleStep {
  border: 3px solid white;
  width: 60px;
  height: 60px;
  background-color: #fcaf38;
  border-radius: 30px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineStep {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.contentStep {
  position: absolute;
  bottom: -100%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, 50%);
  text-align: center;
  vertical-align: text-top;
  height: 100%;
}

.backgroundSpan {
  margin: 1rem;
}
.howToApply {
  margin-left: 2rem;
}
.stepContainer {
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
  margin: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.stepper {
  display: flex;
  align-items: center;
  width: 100%;
}
.logoImage {
  width: 600px;
  height: 200px;
}
.underline {
  width: 10vw;
  height: 4px;
  background-color: white;
  margin-left: 24px;
}

@media (max-width: 600px) {
  .backgroundImage {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  .backgroundTitle {
    font-size: 1.2rem;
    width: 80%;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
  }
  .backgroundTitleBelow {
    font-size: 1rem;
    margin-top: 0;
  }
  .circleStep {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .contentStep {
    position: relative;
    font-size: 1rem;
    display: flex;
    justify-content: inherit;
    bottom: auto;
    left: auto;
    width: 70vw;
    transform: none;
    text-align: left;
    align-items: center;
    margin-left: 10px;
  }
  .lineStep {
    width: 10%;
    height: 3px;
  }
  .backgroundSpan {
    margin: 0.1rem;
  }
  .howToApply {
    font-size: 1rem;
    margin-left: 0;
  }
  .stepContainer {
    width: 90vw;
    flex-direction: column;
    padding-bottom: 16px;
  }
  .stepper {
    width: 90%;
  }
  .logoImage {
    width: 150px;
    height: 50px;
  }
  .underline {
    margin-left: 0;
  }
}
